<!-- <%- include("./includes/header.ejs") %>
    <div class="container">
        <div>ุงููู ูุจูุงฺฏ ูู ุงุณุช๐</div>
        <span class="fa fa-plus"></span>
        <button class="btn btn-primary">click me</button>
        <button class="btn btn-warning">ุณูุงู ุฏุงุฏุงุด</button>
        <button class="btn btn-light">ุขุฎุฑู ุจุงุชู ุงุณุช ุจู ุฌุงู ุฎูุฏุช</button>
        <button class="btn btn-danger">ุขุฎุฑู ุจุงุชู ุงุณุช ุจู ุฌุงู ุฎูุฏุช</button>
    </div>
<%- include("./includes/footer.ejs") %> -->
<%- include('./includes/navbar.ejs') %>

<div class="container">
    <div class="row">
        <div class="col">
            <%- include('./includes/blogPost.ejs') %>

            <!-- Pagination -->
        </div>
    </div>
</div>
