<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h2>ุฎุทุง 500</h2>
                <div class="error-details">
                    ูุดฺฉู ุงุฒ ุณูุช ุณุฑูุฑ ุฑุฎ ุฏุงุฏู ุงุณุช๐จ ุ ูุทูุง ูุฌุฏุฏุง ุชูุงุด ุจููุงุฆุฏ
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg"
                        ><span class="fa fa-home"></span> ููู ุจุฑฺฏุฑุฏูู ุฎููู</a
                    >
                </div>
            </div>
        </div>
    </div>
</div>
